<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{server_label_id}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{server_full_path}}</string>
    </array>
    <key>StandardOutPath</key>
    <string>{{server_log_file_path}}</string>
    <key>StandardErrorPath</key>
    <string>{{server_log_file_path}}</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>

