#!/bin/bash

set -e

source $HOME/.bashrc

brew_repository=$(brew --repository)

rm -rf $HOME/mirrors/github.com/bitrise-io/homebrew-cask

mkdir -p $HOME/mirrors/github.com/bitrise-io/

git clone \
    --bare https://github.com/bitrise-io/homebrew-cask \
    $HOME/mirrors/github.com/bitrise-io/homebrew-cask

# Ensure we checked out the correct SHA
git \
    -C $HOME/mirrors/github.com/bitrise-io/homebrew-cask \
    rev-parse HEAD |\
grep f2ef2b1128740e5684f81a3ede7010194afea9dd

rm -rf "${brew_repository}/Library/Taps/homebrew/homebrew-cask"

git clone $HOME/mirrors/github.com/bitrise-io/homebrew-cask "${brew_repository}/Library/Taps/homebrew/homebrew-cask"
