# {{ ansible_managed }}

# the sshd_config originally contains the default values
# these commented out values were removed from here

# macOS default sshd_config overrides and their values
AuthorizedKeysFile      .ssh/authorized_keys
# UsePAM yes
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/libexec/sftp-server

# bitrise overrides
PasswordAuthentication              {{ ssh.password_authentication }}
PermitEmptyPasswords                {{ ssh.permit_empty_passwords }}
LoginGraceTime                      {{ ssh.login_grace_time }}
PermitRootLogin                     {{ ssh.permit_root_login }}
LogLevel                            {{ ssh.log_level }}
UsePAM                              {{ ssh.use_pam }}
ChallengeResponseAuthentication     {{ ssh.challenge_response_authentication }}
UseDNS                              {{ ssh.use_dns }}

# disable weak ciphers
MACs                                hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-256,hmac-sha2-512
Ciphers                             aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
KexAlgorithms                       ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
