#!/usr/bin/env bash

set -e

#change vagrant user password
sudo dscl . passwd /Users/vagrant vagrant {{.Password}}

#enable ssh password authentication
sudo sed -i "" "s|^\s*PasswordAuthentication[[:space:]]*no|PasswordAuthentication yes|g" /etc/ssh/sshd_config
sudo sed -i "" "s|^\s*UsePAM[[:space:]]*no|UsePAM yes|g" /etc/ssh/sshd_config

#Add vagrant user to screen sharing group
sudo dscl . append /Groups/com.apple.access_screensharing GroupMembership vagrant

### Setup ngrok
# create ngrok config
NGROK_CONF=$(cat <<EOC
authtoken: {{.Token}}
log_format: logfmt
log: /var/log/ngrok.log
tunnels:
  remote-access:
    proto: tcp
    addr: 22
    remote_addr: {{.SSHAddress}}
  vnc-server:
    proto: tcp
    addr: 5900
    remote_addr: {{.VNCAddress}}

EOC
)

echo "$NGROK_CONF" | sudo tee /etc/ngrok/ngrok.yml

# install and start ngrok as a service
sudo ngrok service install -config /etc/ngrok/ngrok.yml
sudo ngrok service start

# Enabling RemoteManagement access
KICKSTART_PATH="/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart"
sudo "${KICKSTART_PATH}" -configure -allowAccessFor -specifiedUsers -quiet
sudo "${KICKSTART_PATH}" -configure -allowAccessFor -allUsers -privs -all -quiet
sudo "${KICKSTART_PATH}" -activate -quiet

OS_MAJOR_VERSION=`sw_vers | sed -n 2p | awk '{ print $2 }' | cut -c1-2`

if [ "$OS_MAJOR_VERSION" = "11" ]; then
  # For some reason VNC on Big Sur renders a "black screen" without
  # resetting ScreenCapture first
  tccutil reset ScreenCapture
fi
