---
- name: Install curl
  package:
    name: curl
    state: present
    update_cache: true
  become: true
  when: ansible_distribution == 'Ubuntu'

- name: Install git
  package:
    name: git
    state: present
    update_cache: true
  become: true
  when: ansible_distribution == 'Ubuntu'

- name: Check if brew is installed
  shell: "/usr/local/bin/brew config"
  register: is_brew_installed
  changed_when: false
  ignore_errors: true

- name: Download brew installer
  get_url:
    url: https://raw.githubusercontent.com/Homebrew/install/master/install.sh
    dest: /tmp/brew_installer.sh
    mode: '0755'
  when: is_brew_installed is failed

- name: Execute the brew_installer.sh
  shell: /tmp/brew_installer.sh | tee /tmp/brew_install.log  # noqa 306
  when: is_brew_installed is failed

- name: Remove the brew_installer.sh
  file:
    path: /tmp/brew_installer.sh
    state: absent
  when: is_brew_installed is failed

- name: Is brew in bash_profile
  shell: "grep brew ~/.bash_profile"
  changed_when: false
  ignore_errors: true
  register: bash_profile

- name: Add brew to PATH. Brew officially supported on linux it is called linuxbrew and for test we use that
  shell: "echo 'eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)' >> ~/.bash_profile"
  when: ansible_distribution == 'Ubuntu' and bash_profile is failed

- name: Get MacOS version
  command: sw_vers -productVersion
  register: macos_version

- name: Install intel-haxm on Big Sur (or later) stacks
  homebrew_cask:
    name: intel-haxm
    state: present
  when: macos_version.stdout.split(".") >= 11
